* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0rem 1rem;
}
.header > img {
  width: 5rem;
}
.header > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.header > ul > li {
  padding: 1rem;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}
.card {
  width: 15rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.card > img {
  width: 100%;
}
.card-details {
  padding: 1rem;
}
.restaurant-description {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
